# torch==1.10.1
torch
torchvision
# torchvision==0.11.2
tensorboard
# tensorboard==2.7.0
tensorboardX
# tensorboardX==2.4
opencv-python
# opencv-python==4.5.4.58 
tqdm
pycocotools
# pycocotools==2.0.3 
scipy
# scipy==1.7.1
# cupy-cuda11x
# cupy-cuda11x==11.1.0
numpy
# numpy==1.21.5
